name: Deploy Hugo site to GitHub Pages

on:
  push:
    branches:
      - main # Set a branch to deploy

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true # Fetch Hugo themes (true by default without recursive flag)
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          cache: 'pnpm' # Cache pnpm modules

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 'latest'
          run_install: false # We'll run pnpm install in a separate step

      - name: Install dependencies with pnpm
        run: pnpm install

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build Hugo site
        run: hugo --minify --baseURL "/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
